<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Wanderlust </title>
</head>
<body>
    <h3> All Listings </h3>
    <form action="/listings/new">
        <button> Create New Listing </button>
    </form>
    <ul>
        <% for(listing of allListings) { %>
            <li>
                <a href="/listings/<%= listing._id %>"> <%= listing.title %> </a>
                <form action="/listings/<%= listing._id %>/edit" style="display: inline;">
                    <button> Edit </button>
                </form>
                <form action="/listings/<%= listing._id %>?_method=DELETE" method="post" style="display: inline;">
                    <button> Delete </button>
                </form>
            </li>
        <% } %>
    </ul>
</body>
</html>